.body-text {
  @include centerchild();
  color: white;
  margin: 40px auto;

  h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
  }
  p {
    font-size: 0.8rem;
    margin: 30px 20px;
  }
  li {
    border: 1px solid rgb(209, 209, 209);
    width: 50px;
    height: 50px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
