.card {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background-color: white;

  position: relative;

  .date-card {
    padding-bottom: 0px;
  }
  h4 {
    padding-top: 20px;
    font-size: 2rem;
    letter-spacing: 5px;
    line-height: 50px;
  }
  img {
    width: 100%;
    padding: 50px;
  }
  p {
    padding: 0 40px;
    line-height: 35px;
    padding-bottom: 30px;
  }
  .magna,
  .primis {
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  button {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
  }
}
.card::before {
  content: "";
  position: absolute;
  width: 1.2px;
  height: 100%;
  background: rgba(107, 104, 104, 0.247);
  top: 50%;
  left: 50%;
  transform: translatey(-50%);
  box-shadow: rgba(134, 126, 126, 0.685);
}
.card::after {
  content: "";
  position: absolute;
  height: 1.2px;
  width: 100%;
  background: rgba(107, 104, 104, 0.247);
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(134, 126, 126, 0.685);
}
