.card {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background-color: white;

  position: relative;

  .date-card {
    padding-bottom: 0px;
  }
  h4 {
    padding-top: 20px;
    font-size: 2rem;
    letter-spacing: 5px;
    line-height: 50px;
  }
  .img2 {
    overflow: hidden;
    margin: 50px;
    
    img {
      object-fit: cover;
      transition: 0.8s ease;
      height: 100%;
      width: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .img3 {
    overflow: hidden;
   margin: 50px;

   img {
     object-fit: cover;
     transition: 0.8s ease;
     height: 100%;
     width: 100%;

     &:hover {
       transform: scale(1.1);
      }
    } 
  }

  p {
    padding: 0 40px;
    line-height: 35px;
    padding-bottom: 30px;
  }
  .magna,
  .primis {
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  button {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
  }
}
.card::before {
  content: "";
  position: absolute;
  width: 1.2px;
  height: 100%;
  background: rgba(107, 104, 104, 0.247);
  top: 50%;
  left: 50%;
  transform: translatey(-50%);
  box-shadow: rgba(134, 126, 126, 0.685);
}
.card::after {
  content: "";
  position: absolute;
  height: 1.2px;
  width: 100%;
  background: rgba(107, 104, 104, 0.247);
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(134, 126, 126, 0.685);
}
@media (max-width: 1000px) {
  .card {
    grid-template-columns: 100%;
  }
  .card::before {
    width: 100%;
    height: 1.2px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(134, 126, 126, 0.685);
  }
  .card h4 br {
    display: none;
  }
  .card h4 {
    font-size: 1.5rem;

    padding-left: 40px;
    padding-right: 40px;
  }
  .card img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 710px) {
  .card h4 {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
}
@media (max-width: 615px) {
  .card h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 560px) {
  .card h4 {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}
@media (max-width: 500px) {
  .card h4 {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}
@media (max-width: 465px) {
  .card h4 {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
@media (max-width: 437px) {
  .card h4 {
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 25px;
  }
}
@media (max-width: 400px) {
  .card button {
    letter-spacing: 1.2px;
    padding: 10px 20px;
  }
}
