.contact {
  display: grid;
  flex-direction: column;

  position: relative;

  .address,
  .phone,
  .email,
  .social {
    @include displaygrid();
    text-align: left;
  }
  .address,
  .phone,
  .email {
    border-bottom: 1px solid rgba(107, 104, 104, 0.247);
  }

  h6 {
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-left: 50px;
  }
  p {
    line-height: 40px;
    text-align: left;
  }
  .phone p,
  .email p {
    text-decoration: underline;
  }
  .social ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social li {
    border: 1px solid rgb(209, 209, 209);
    margin: 0 5px;
    border-radius: 150px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
  }
}
// .contact::before {
//   content: "";
//   position: absolute;
//   height: 1.2px;
//   width: 100%;
//   background: rgba(107, 104, 104, 0.247);
//   top: 170px;
//   left: 50%;
//   transform: translateX(-50%);
//   box-shadow: rgba(134, 126, 126, 0.685);
// }
// .contact::after {
//   content: "";
//   position: absolute;
//   height: 1.2px;
//   width: 100%;
//   background: rgba(107, 104, 104, 0.247);
//   top: 355px;
//   left: 50%;
//   transform: translateX(-50%);
//   box-shadow: rgba(134, 126, 126, 0.685);
// }
