.headline {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  padding-top: 70px;
  margin-bottom: 100px;
  background-color: white;
  margin: 0 50px;
  img {
    max-width: 100%;
    padding: 0 100px;
  }
  h2 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
  }
  p {
    margin: 50px 200px;
    line-height: 35px;
  }
  button {
    margin-top: 50px;
  }
}
