header {
  @include centerchild();
  flex-direction: column;
  color: white;
  min-height: 100vh;
  transform: translateY(20px);
  opacity: 0;
  animation: headeranim 1.5s forwards;

  @keyframes headeranim {
    100% {
      transform: translateY(-40px);
      opacity: 1;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 5px;
  }
  p {
    font-style: italic;
    margin: 40px auto 60px;
    width: 85%;
  }
  li {
    border: 2.5px solid rgb(209, 209, 209);
    width: 60px;
    height: 60px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      border: 1px solid skyblue;
      color: skyblue;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  header {
    min-height: 70vh;
  }
}
@media (max-width: 850px) {
  header {
    min-height: 50vh;
    padding-top: 300px;
  }
  header ul,
  header li {
    display: none;
  }
}
@media (max-width: 700px) {
  header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  header h1 {
    font-size: 2rem;
  }
}
