.headline {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 200px;
  background-color: white;
  position: relative;

  position: relative;
  img {
    max-width: 100%;
    padding: 0 100px;
  }
  h2 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
  }
  p {
    margin: 40px auto 60px;
    width: 85%;
    line-height: 35px;
  }
  button {
    bottom: 100px;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
  }
}
